version: "3.9"

services:
  web:
    image: node:22-alpine
    container_name: demo_app
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
